.main{
    background-color: white;
    width: 700px;
}

.main>section{
    box-shadow: 3px 5px 8px #181f24;
    color:#181f24;
    background-color: rgb(239, 239, 245);
    margin-bottom: 20px;
    padding: 20px;
}

p{
    font-weight: 400;
}

h3{
    text-align: center;
}